*{
  margin: 0;
}
header{
  display: flex;
}
.navigation{
  background-color: #B80000;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
nav ul li{
  text-transform: uppercase;
  display: inline-block;
  padding-top: 10px;
  padding-right: 20px;
  margin-right: 5px;
}
