*{
  margin: 0;
}
header{
  display: flex;
  color: white;
  height: 70px;
}
.navigation{
  background-color: #b80000;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: #ffffff solid 2px;
}
h1{
  margin-bottom: 0;
  padding:10px 20px 10px 0;
  width: 10%;
  box-shadow: 0 10px 1p0px red;
}
.navigation>h1{
  font-family: 'Alfa Slab One', cursive;
  width:auto;
  margin-left: 20px;
}
nav ul{
padding: 10px 20px 10px 0;
}
nav ul li{
  text-transform: uppercase;
  display: inline-block;
  padding-top: 10px;
  margin-right: 5px;
}

#home{
  background-image: url(img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 600px;
}
h2{
  padding-left: 10px;
}
.profile{
  display: flex;
  justify-content: flex-end;
}
#profile-pic{
  padding-top: 20px;
  padding-left: 20px;
  margin-right: 20px;
}
.code-fun h3{
  -webkit-box-shadow: 0 10px 6px -6px #777;
     -moz-box-shadow: 0 10px 6px -6px #777;
          box-shadow: 0 10px 6px -6px #777;
          -webkit-transform: rotate(-3deg);
             -moz-transform: rotate(-3deg);
                 background-color: #f3f3f3;
               -o-transform: rotate(3deg);
              -ms-transform: rotate(3deg);
                  transform: rotate(3deg);
                      margin-bottom: 20px;
                         margin-top: 20px;
                         padding-left: 20px;
}
.code-fun, h3{
  -webkit-box-shadow: 0 10px 6px -6px #777;
     -moz-box-shadow: 0 10px 6px -6px #777;
          box-shadow: 0 10px 6px -6px #777;
          -webkit-transform: rotate(-3deg);
             -moz-transform: rotate(-3deg);
                 background-color: #ffffff;
               -o-transform: rotate(-3deg);
              -ms-transform: rotate(-3deg);
                  transform: rotate(-3deg);
                  margin-bottom: 20px;

}
#profile-pic img{
  border-radius: 50%;
  -moz-box-shadow: #fff solid 2px;
  height: 300px;
}
.responsive{
  height: auto;
}

/* This is the start of creating heart with css */
#heart{
  position: relative;
  margin-left: 10px;
  width: 100px;
  height: 90px;
  float: right;
  padding-right: 60px;
  margin-top: 35px;

}
#heart::before,
#heart::after{
  margin-top: 20px;
  position: absolute;
  content: "";
  top:0;
  left: 98px;
  width: 50px;
  height: 80px;
  background-color: red;
  border-radius: 50px 50px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;overflow-y: hidden;
}
#heart::after{
  margin-top: 20px;
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;overflow-y: hidden;
}
.contact{
  float: left;
  min-width: 500px;
  min-height: 200px;
  background-color: #fff;
  border-radius: 0 100px 100px 0;
  bor
}
.contact h3{
  float: right;
  padding: 20px;
}

.title{
  background-color: #b80000;
  padding-left: 10px;
  font-size: 30px;
  width: 12%;
  min-width: 100px;
  color: white;
}

/*Start of about*/
#about{
  -webkit-box-shadow: 0 10px 6px -6px #777;
     -moz-box-shadow: 0 10px 6px -6px #777;
          box-shadow: 0 10px 6px -6px #777;


}
.about-me{
  display: flex;
  justify-content: space-around;
}
.education-profile, .experience-profile{
  -webkit-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.39);
     -moz-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.39);
          box-shadow: 1px 3px 10px 0px rgba(0,0,0,0.39);
                                      margin: 30px 10px;
                                          padding: 20px;
}
.program{
    -webkit-box-shadow: 0 10px 6px -6px #777;
       -moz-box-shadow: 0 10px 6px -6px #777;
            box-shadow: 0 10px 6px -6px #777;
            clear: both;
            display: flex;
            justify-content: space-around;
}
.program-detail{
  min-height: 200px;
  position: relative;
  background-color: #fff;
}
.program::after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  right: 10px;
  left: auto;
  width: 50%;
  top: 90%;
  max-width: 300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
}
#what-i-do{
  background-image: url(img/live-lion.jpg);
  width: 100%;
  min-height: 600px;
  background-size: cover;
  background-blend-mode: darken;
  display: flex;
  justify-content: space-around;
  overflow: hidden;
}
.img-responsive{
  width:100%;
  height: auto;
  padding: 10px;
}
.work{
  margin: 10px;
}
.footer{
  text-align: center;
  background: #b80000;
  padding: 10px 0 0 10px;
  min-height: 30px;
  color: #fff;
}
