*{
  margin: 0;
}
header{
  display: flex;
  color: white;
  height: 70px;
}
.navigation{
  background-color: #b80000;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: #ffffff solid 2px;
}
h1{
  margin-bottom: 0;
  padding:10px 20px 10px 0;
  width: 10%;
  box-shadow: 0 10px 1p0px red;
}
.navigation>h1{
  font-family: 'Alfa Slab One', cursive;
  width:auto;
  margin-left: 20px;
}
nav ul{
padding: 10px 20px 10px 0;
}
nav ul li{
  text-transform: uppercase;
  display: inline-block;
  padding-top: 10px;
  margin-right: 5px;
}

#home{
  background-image: url(img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 600px;
}
.profile{
  display: flex;
  justify-content: flex-end;
}
#profile-pic{
  padding-top: 20px;
  padding-left: 20px;
}
#profile-pic img{
  border-radius: 50%;
  -moz-box-shadow: #fff solid 2px;
  height: 300px;
}
.responsive{
  height: auto;
}

/* This is the start of creating heart with css */
#heart{
  position: relative;
  margin-left: 10px;
  width: 100px;
  height: 90px;
  float: right;
  padding-right: 60px;
  margin-top: 35px;

}
#heart::before,
#heart::after{
  margin-top: 20px;
  position: absolute;
  content: "";
  top:0;
  left: 98px;
  width: 50px;
  height: 80px;
  background-color: red;
  border-radius: 50px 50px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;overflow-y: hidden;
}
#heart::after{
  margin-top: 20px;
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;overflow-y: hidden;
}
.contact{
  float: left;
  min-width: 500px;
  min-height: 200px;
  background-color: #fff;
  border-radius: 0 100px 100px 0;
  bor
}
.contact h3{
  float: right;
  padding: 20px;
}

/*Start of about*/
about{
  -webkit-box-shadow: 4px 3px 13px 0px rgba(0,0,0,0.39);
-moz-box-shadow: 4px 3px 13px 0px rgba(0,0,0,0.39);
box-shadow: 4px 3px 13px 0px rgba(0,0,0,0.39);
justify-content: space-around;
}
